# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.swp
*.swo
debug*

training-runs
pretrained
web/

*.npz
*.mp4
*.pdf
*.png
*.csv
*.zip
*.nfs*
*.m4v
*.pkl


